@use "colors" as *;
@use "reset" as *;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $color-text;
}

.container {
  width: 768px;
  max-width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
header
============================== */
.header {
  height: 59px;
  border-bottom: 1px solid $color-text;

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__navi {
    display: flex;
    align-items: center;
    gap: 0 1em;

    a:hover {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 428px) {
    .header__navi {
      display: none;
    }
  }
}

.burger {
  width: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px 0;

  &__bar {
    width: 100%;
    border-bottom: 2px solid $color-text;
    display: block;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
  }

  &.js-active {
    .burger__bar:nth-of-type(1) {
      transform: rotate(-45deg) translate(-5px, 4px);
    }

    .burger__bar:nth-of-type(2) {
      transform: rotate(-45deg);
      opacity: 0;
    }

    .burger__bar:nth-of-type(3) {
      transform: rotate(45deg) translate(-5px, -4px);
    }
  }

  @media screen and (max-width: 428px) {
    display: flex;
  }
}

.drawer-menu {
  display: none;
  width: 100%;
  background-color: $color-text;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition-property: transform, visibility, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  &__inner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    visibility: hidden;
    opacity: 0;

    a {
      display: block;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      color: $color-white;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 428px) {
    display: block;
    visibility: hidden;
    opacity: 0;
  }

  &.js-active {
    transform: scaleY(1);
    visibility: visible;
    opacity: 1;

    .drawer-menu__inner {
      transition-property: visibility, opacity;
      transition-duration: 0.1s;
      transition-timing-function: ease-in-out;
      transition-delay: 0.25s;
      visibility: visible;
      opacity: 1;
    }
  }
}
