---
---

<header class="header">
  <div class="header__inner">
    <a class="header__logo" href="/">LOGO</a>
    <nav class="header__navi">
      <a href="/">HOME</a>
      <a href="/">BLOG</a>
      <a href="/">CONTACT</a>
    </nav>
    <button class="burger" aria-label="Drawer toggle button">
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
      <span class="burger__bar"></span>
    </button>
    <nav class="drawer-menu">
      <div class="drawer-menu__inner">
        <a href="/">HOME</a>
        <a href="/">BLOG</a>
        <a href="/">CONTACT</a>
      </div>
    </nav>
  </div>
</header>