---
import "../styles/global.scss";

const { title } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{ title }</title>
  </head>
  <body>
    <slot />
  </body>
</html>